<div class="world-map-section">

</div>

<div class="search-box-wrapper">
    <div class="container">
        <div class="main-search-box">
            <form>
                <div class="row">
                    <div class="form-group col-sm-4 col-lg-3">
                        <h4 class="title">Where would you like to go?</h4>
                    </div>
                    <div class="form-group col-xs-6 col-sm-5 col-lg-7">
                        <input type="text" class="input-text input-large full-width" placeholder="enter a destination, country  or hotel name">
                    </div>
                    <div class="form-group col-xs-6 col-sm-3 col-lg-2">
                        <button class="btn-large full-width">SEARCH NOW</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>