
<div id="slideshow">
    <div class="fullwidthbanner-container">
        <div class="revolution-slider" style="height: 0; overflow: hidden;">
            <ul>    <!-- SLIDE  -->
                <!-- Slide1 -->
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/app/images/slideshow/yamoussoukro.jpg') }}" alt="">
                </li>

                <!-- Slide2 -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/app/images/slideshow/abj.jpg') }}" alt="">
                </li>

                <!-- Slide3 -->
                <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/app/images/slideshow/hb.jpg') }}" alt="">
                </li>
                <!-- Slide4 -->
                <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="{{ asset('bundles/app/images/slideshow/poro.jpg') }}" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
