<div class="row">
    <div id="main" class="col-md-12">
        <div class="image-box style2 activities no-bottom-border">
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Central Park Walking Tour</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Museum of Modern Art</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Spirit of Paris Dinner Cruise</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Crazy Horse Cabaret Show</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Palace of Versailles Tour</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Lunch at the Eiffel Tower</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Paris City Tour</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
            <article class="box">
                <figure>
                    <a title="" href="#" class="hover-effect"><img width="270" height="160" alt="" src="http://placehold.it/270x160"></a>
                </figure>
                <div class="details">
                    <div class="details-header">
                        <div class="review-score">
                            <div class="five-stars-container"><div style="width: 60%;" class="five-stars"></div></div>
                            <span class="reviews">25 reviews</span>
                        </div>
                        <h4 class="box-title">Night Club Cafe De Paris</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim don't look even slightly believable.</p>
                    <a class="button" title="" href="#">MORE</a>
                </div>
            </article>
        </div>
        <a href="#" class="button btn-large full-width">Afficher plus de services</a>
    </div>

</div>
